Repository Dan6erbond/Im17A-Abschluss, pull requests merged in 2020-05, with the labels that each got.

#46 Fix: Make Text Prop Optional
  src/src/components/ScrollButton/ScrollButton.tsx
Labels: bug

#47 Update: Decrease Mobile Banner Text Size for Improved Readability
  src/src/components/Banner/Banner.scss
Labels: ui

#48 Update: Remove Border from ScrollButton
  src/src/components/ScrollButton/ScrollButton.scss
Labels: ui

#51 Feature: Update Structure for easy Customization
  src/src/components/ScrollButton/ScrollButton.scss
  src/src/components/ScrollButton/ScrollButton.tsx
Labels: feature

#54 Update: Teacher-Page #12
  src/src/pages/MGuignard/ClassTrip.tsx
  src/src/pages/MGuignard/Limericks.tsx
  src/src/pages/MGuignard/MGuignard.scss
  src/src/pages/MGuignard/MGuignard.tsx
Labels: feature, guignard, ui

#52 Change: Move Bangers font to Banner SCSS
  src/src/components/Banner/Banner.scss
  src/src/index.scss
Labels: feature

#57 Update: Add Students and Teacher Overview, Banner to Home Page
  src/public/res/img/students/aron_bg.jpg
  src/public/res/img/students/felix_bg.jpg
  src/public/res/img/students/tim_bg.jpeg
  src/public/res/img/teachers/fiechter_sascha.jpg
  src/public/res/img/teachers/flick_alexander.jpg
  src/public/res/img/teachers/jerg_fabian.jpg
  src/public/res/img/teachers/meyer_lars.jpg
  src/public/res/img/teachers/weidmann_rene.jpg
  src/src/pages/Home/Home.scss
  src/src/pages/Home/Home.tsx
  src/src/pages/Home/StudentCard.tsx
  src/src/pages/Home/TeacherCard.tsx
  src/src/students.ts
  src/src/teachers.tsx
Labels: feature, home, ui

#58 Component: Generic Slideshow
  src/src/components/Slideshow/Slideshow.scss
  src/src/components/Slideshow/Slideshow.tsx
Labels: feature, ui

#61 Fix: Frankfurt Slideshow Image Paths
  src/src/components/Slideshow/Frankfurt/FrankfurtSlideshow.tsx
Labels: bug, feature, guignard, klink, ui

#62 Fix: Path Prop in Slideshow Component
  src/src/components/Slideshow/Slideshow.tsx
Labels: bug, feature, guignard, klink, ui

#64 Component: Customizable CodeEditor
  src/package.json
  src/src/components/CodeEditor/CodeEditor.scss
  src/src/components/CodeEditor/CodeEditor.tsx
  src/yarn.lock
Labels: feature, fiechter, flick, jerg, ui

#65 CodeEditor v2
  src/src/components/CodeEditor/CodeEditor.scss
  src/src/components/CodeEditor/CodeEditor.tsx
Labels: feature, ui

#66 Component: JOptionPane Message Window
  src/src/components/JOptionPane/JOptionPane.scss
  src/src/components/JOptionPane/JOptionPane.tsx
Labels: feature, ui

#69 Home Page: Update Students and Teachers
  src/public/res/img/students/dominik.png
  src/public/res/img/students/dominik_bg.jpg
  src/public/res/img/teachers/arleo_loredana.jpg
  src/public/res/img/teachers/gross_genevieve.jpg
  src/public/res/img/teachers/jerg_fabian.jpg
  src/public/res/img/teachers/neeser_andreas.jpg
  src/public/res/img/teachers/schneeberger_daniel.jpeg
  src/public/res/img/teachers/schneeberger_daniel.jpg
  src/src/pages/Home/Home.tsx
  src/src/students.ts
  src/src/teachers.tsx
Labels: home, ui

#68 Teacher-Page #7: Add JergOptionPane CodeEditor
  src/src/pages/FJerg/FJerg.scss
  src/src/pages/FJerg/FJerg.tsx
  src/src/pages/FJerg/JOPCode.tsx
  src/src/pages/FJerg/Selecta.tsx
Labels: feature, jerg, ui

#72 Teacher-Page #2 UI: OneNote styling
  src/src/App.tsx
  src/src/pages/DSchneeberger/DSchneeberger.scss
  src/src/pages/DSchneeberger/DSchneeberger.tsx
  src/src/pages/DSchneeberger/OneNoteComponents/NavBar.tsx
  src/src/pages/DSchneeberger/OneNoteComponents/Sidenav.tsx
  src/src/pages/DSchneeberger/OneNoteComponents/SidenavTab.tsx
  src/src/pages/DSchneeberger/OneNoteComponents/svg/bell.svg
  src/src/pages/DSchneeberger/OneNoteComponents/svg/burgermenu.svg
  src/src/pages/DSchneeberger/OneNoteComponents/svg/magnifying.svg
  src/src/pages/DSchneeberger/OneNoteComponents/svg/menubutton.svg
Labels: schneeberger, ui

#71 Component: CLI with Support for Commandlets
  src/src/components/CommandLineInterface/Bash/Bash.scss
  src/src/components/CommandLineInterface/Bash/Bash.tsx
  src/src/components/CommandLineInterface/CommandLineInterface.scss
  src/src/components/CommandLineInterface/CommandLineInterface.tsx
  src/src/components/CommandLineInterface/PowerShell/PowerShell.scss
  src/src/components/CommandLineInterface/PowerShell/PowerShell.tsx
Labels: feature, meyer, ui, weidmann

#73 CLI: inputColor and onRun Properties
  src/src/components/CommandLineInterface/CommandLineInterface.tsx
  src/src/components/CommandLineInterface/PowerShell/PowerShell.tsx
Labels: feature, meyer, ui, weidmann

#74 Bash Component: Simplified Props
  src/src/components/CommandLineInterface/Bash/Bash.tsx
  src/src/components/CommandLineInterface/CommandLineInterface.tsx
Labels: feature, meyer, ui

#75 Teacher-Page #9: Create Page with Generic Bootstrap Layout
  src/src/pages/AFlick/AFlick.scss
  src/src/pages/AFlick/AFlick.tsx
  src/src/teachers.tsx
Labels: feature, flick, ui

#76 Teacher-Page #5:
  src/src/pages/LMeyer/LMeyer.tsx
  src/src/teachers.tsx
Labels: feature, meyer, ui

#77 Teacher Page #6: PowerShell CLI
  src/src/pages/RWeidmann/RWeidmann.scss
  src/src/pages/RWeidmann/RWeidmann.tsx
  src/src/teachers.tsx
Labels: feature, ui, weidmann

#79 Teacher-Page #2: Add Distance Learning Reference
  src/src/pages/DSchneeberger/DSchneeberger.scss
  src/src/pages/DSchneeberger/DSchneeberger.tsx
  src/src/pages/DSchneeberger/DistanceLearning/DistanceLearning.tsx
  src/src/pages/DSchneeberger/OneNoteComponents/SidenavTab.tsx
Labels: schneeberger, ui

#93 Create ProcessWindow Component
  src/src/components/JOptionPane/JOptionPane.tsx
  src/src/components/Window/JOptionPane/JOptionPane.scss
  src/src/components/Window/JOptionPane/JOptionPane.tsx
  src/src/components/Window/LinuxWindow/LinuxWindow.scss
  src/src/components/Window/LinuxWindow/LinuxWindow.tsx
  src/src/components/Window/ProcessWindow.scss
  src/src/components/Window/ProcessWindow.tsx
  src/src/pages/FJerg/JOPCode.tsx
Labels: feature, jerg, meyer, ui

#97 Teacher-Page #2: Fixed Wording, Formatting of Distance-Learning Page
  src/src/pages/DSchneeberger/DSchneeberger.scss
  src/src/pages/DSchneeberger/DistanceLearning/DistanceLearning.tsx
Labels: content, schneeberger

#98 Teacher-Page #9: Add Routes
  src/src/pages/AFlick/AFlick.scss
  src/src/pages/AFlick/AFlick.tsx
  src/src/pages/AFlick/DankMemes.tsx
  src/src/pages/AFlick/DistanceLearning.tsx
  src/src/pages/AFlick/Home.tsx
  src/src/pages/AFlick/Java.tsx
  src/src/pages/AFlick/NavBar.tsx
  src/src/pages/AFlick/WebDev.tsx
Labels: feature, flick, ui

#99 Teacher-Page #5: Add Commands and Update CLI
  src/src/pages/LMeyer/LMeyer.tsx
Labels: content, feature, meyer, ui

#100 Shuffle Frankfurt Slideshow
  src/src/components/Slideshow/Frankfurt/FrankfurtSlideshow.tsx
Labels: feature, guignard, klink

#96 Teacher-Page #7: Add Kinder Egg Surprises and Improve Code Editor
  src/public/res/img/fjerg/capri_sun.png
  src/public/res/img/fjerg/joptionpane.png
  src/public/res/img/fjerg/kinder_riegel.jpg
  src/public/res/img/fjerg/kinder_riegel.png
  src/public/res/img/fjerg/projector.jpg
  src/public/res/img/fjerg/projector.png
  src/public/res/img/fjerg/selecta.png
  src/src/pages/FJerg/JOPCode.tsx
  src/src/pages/FJerg/Selecta.tsx
Labels: content, feature, jerg, ui

#112 Closes #110
  src/src/components/ScrollButton/ScrollButton.scss
Labels: bug

#111 Teacher-Page #12: Implement Kahoot Style Design
  src/package.json
  src/src/pages/MGuignard/ClassTrip.tsx
  src/src/pages/MGuignard/CorrectScreen.tsx
  src/src/pages/MGuignard/Home.tsx
  src/src/pages/MGuignard/Limericks.tsx
  src/src/pages/MGuignard/MGuignard.scss
  src/src/pages/MGuignard/MGuignard.tsx
  src/src/pages/MGuignard/PageSelection.tsx
  src/src/pages/MGuignard/Podium.tsx
  src/yarn.lock
Labels: guignard, ui

#109 Create Teacher-Page #8
  src/src/pages/LKlink/LKlink.scss
  src/src/pages/LKlink/LKlink.tsx
  src/src/teachers.tsx
Labels: feature, klink, ui

#106 CLI: Fix Scroll, Arrow Up/Down and Backspace
  src/src/components/CommandLineInterface/CommandLineInterface.tsx
Labels: feature, meyer, ui, weidmann

#113 Add Imprint Page
  src/src/App.tsx
  src/src/index.scss
  src/src/pages/Home/Home.scss
  src/src/pages/Imprint/Imprint.scss
  src/src/pages/Imprint/Imprint.tsx
Labels: content, ui

#116 Teacher-Page #9: Implement Parallax
  src/public/res/img/aflick/html-code.jpg
  src/src/pages/AFlick/AFlick.scss
  src/src/pages/AFlick/AFlick.tsx
  src/src/pages/AFlick/DankMemes.tsx
  src/src/pages/AFlick/DistanceLearning.tsx
  src/src/pages/AFlick/Home.tsx
  src/src/pages/AFlick/Java.tsx
  src/src/pages/AFlick/NavBar.tsx
  src/src/pages/AFlick/WebDev.tsx
Labels: feature, flick, ui

#114 Homepage: Add Footer
  src/src/pages/Home/Home.scss
  src/src/pages/Home/Home.tsx
  src/src/students.ts
  src/src/teachers.tsx
Labels: content, feature, ui

#117 Teacherpage #2 Closes Issue #36
  src/src/pages/DSchneeberger/AbsenceCheck/AbsenceCheck.tsx
  src/src/pages/DSchneeberger/AbsenceCheck/Student.tsx
  src/src/pages/DSchneeberger/DSchneeberger.scss
  src/src/pages/DSchneeberger/DistanceLearning/DistanceLearning.tsx
  src/src/pages/DSchneeberger/OneNoteComponents/SidenavTab.tsx
Labels: feature, schneeberger

#125 Teacher-Page #8: Add Content
  src/src/pages/LKlink/LKlink.scss
  src/src/pages/LKlink/LKlink.tsx
Labels: content, klink, ui
